*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}
.formcontainer{
    width: 650px;
    padding: 28px;
    margin: 0 28px;
    box-shadow: 0 15px 20px #ABB289;
}
.h2{
    font-size: 26PX;
    font-weight: 600;
    text-align: left;
    color: #2F4F4F;
    padding-bottom: 8PX;
    border-bottom: 1PX solid silver;
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20PX 0;
}
.input-box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding: 15PX;
}
.input-box label{
    width: 95%;
    color: #2F4F4F;
    margin: 5PX 0;
    font-weight: bold;
}
.input-box input{
    height: 40PX;
    width: 95%;
    padding: 0 10PX;
    border-radius: 5PX;
    border: 1PX solid #CCC;
    outline: none;
}
.Gendar-Catagory label{
    padding: 0 20PX 0 5PX;
    font-size: 14PX;
    cursor: pointer;
}
.button-container button{
    width: 100%;
    margin-top: 10PX;
    padding: 10PX;
    display: block;
    font-size: 20PX;
    color: #FFF;
    border: none;
    border-radius: 5PX;
    background-color:darkmagenta;
}
